<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    {% endblock head %}
    
</head>

<body>
    <div class="container">
    <header>
        
            <a href="/"><img src="/assets/logo.png" alt="logo" ></a>
                <a id="about" href="/about">Sobre</a>
                <a href="/recipes">receitas</a>
    </header>
       

       {% block content %}
       {% endblock content %}
       </div>
       <footer>Todos direitos reservados, <strong>receitas Foodfy.</strong> </footer>
       <script src="/scripts.js"></script>
       
</body>
